<div class="w-full max-w-sm bg-bgMain border border-border rounded-lg shadow-lg hover:shadow-xl transition-shadow duration-300 dark:bg-secondary">
  <a href="#">
    <img class="p-4 rounded-t-lg" [src]="product.image" [alt]="product.name" />
  </a>
  <div class="px-5 pb-5">
    <a href="#">
      <!-- Dodajemy stałą wysokość dla tytułu -->
      <h5
        class="text-lg font-semibold tracking-tight text-textPrimary dark:text-textSecondary hover:text-primary transition-colors duration-300 line-clamp-2 h-14 mb-4"
      >
        {{ product.name }}
      </h5>
    </a>
    <!-- Stopka z ceną i ikonami -->
    <div class="flex items-center justify-between">
      <span class="text-xl font-bold text-cta dark:text-success">
        {{ product.price }}
      </span>
      <div class="flex space-x-2">
        <button
          class="p-2 text-gray-500 bg-gray-200 rounded-lg hover:bg-gray-300 focus:outline-none focus:ring-2 focus:ring-gray-400 dark:bg-gray-700 dark:hover:bg-gray-600 dark:text-white dark:focus:ring-gray-500"
        >
          <img class="w-6 h-6" src="/assets/icons/favorite.svg" alt="Dodaj do ulubionych" />
        </button>
        <button
          class="p-2 text-gray-500 bg-gray-200 rounded-lg hover:bg-gray-300 focus:outline-none focus:ring-2 focus:ring-gray-400 dark:bg-gray-700 dark:hover:bg-gray-600 dark:text-white dark:focus:ring-gray-500"
        >
          <img class="w-6 h-6" src="/assets/icons/shopping-cart.svg" alt="Dodaj do koszyka" />
        </button>
      </div>
    </div>
  </div>
</div>
