<div class="w-full max-w-7xl mx-auto px-4 md:px-6 lg:px-8">
  <!-- Sekcja obrazka -->
  <div class="relative">
    <img src="/assets/images/gormi_sklep.jpg" alt="Polityka Prywatności" class="w-full h-64 md:h-96 object-cover rounded-lg">
  </div>

  <!-- Sekcja artykułu -->
  <div class="bg-white relative -mt-32 z-10 mx-auto max-w-5xl py-8 rounded-2xl shadow-md px-4">
    <div class="mt-8 mx-auto max-w-4xl">
      <!-- Tytuł i podtytuł -->
      <h1 class="text-3xl md:text-5xl font-semibold text-primary leading-tight mb-6">
        Polityka Prywatności
      </h1>

      <!-- Treść artykułu -->
      <article class="prose prose-lg md:prose-xl max-w-none text-textPrimary leading-relaxed">
        <p>Polityka prywatności opisuje zasady przetwarzania przez nas informacji na Twój temat, w tym danych osobowych oraz ciasteczek, czyli tzw. cookies.</p>
        <h2>1. Informacje ogólne</h2>
        <p>Niniejsza polityka dotyczy Serwisu www, funkcjonującego pod adresem url: gormi.pl</p>
        <p>Operatorem serwisu oraz Administratorem danych osobowych jest: Marcin Jan Capała Góra Libertowska 22, 30-444 Libertów, Polska</p>
        <p>Adres kontaktowy poczty elektronicznej operatora: gormisklep&#64;gmail.com</p>
        <p>Operator jest Administratorem Twoich danych osobowych w odniesieniu do danych podanych dobrowolnie w Serwisie.</p>
        <p>Serwis wykorzystuje dane osobowe w następujących celach:</p>
        <ul>
          <li>Prowadzenie systemu komentarzy</li>
          <li>Prowadzenie systemu ogłoszeń drobnych</li>
          <li>Prezentacja profil użytkownika innym użytkownikom</li>
          <li>Obsługa zapytań przez formularz</li>
          <li>Przygotowanie, pakowanie, wysyłka towarów</li>
          <li>Realizacja zamówionych usług</li>
          <li>Prezentacja oferty lub informacji</li>
        </ul>
        <p>Serwis realizuje funkcje pozyskiwania informacji o użytkownikach i ich zachowaniu w następujący sposób:</p>
        <ul>
          <li>Poprzez dobrowolnie wprowadzone w formularzach dane, które zostają wprowadzone do systemów Operatora.</li>
          <li>Poprzez zapisywanie w urządzeniach końcowych plików cookie (tzw. „ciasteczka”).</li>
        </ul>
        <h2>2. Wybrane metody ochrony danych stosowane przez Operatora</h2>
        <p>Miejsca logowania i wprowadzania danych osobowych są chronione w warstwie transmisji (certyfikat SSL). Dzięki temu dane osobowe i dane logowania, wprowadzone na stronie, zostają zaszyfrowane w komputerze użytkownika i mogą być odczytane jedynie na docelowym serwerze.</p>
        <p>Dane osobowe przechowywane w bazie danych są zaszyfrowane w taki sposób, że jedynie posiadający Operator klucz może je odczytać. Dzięki temu dane są chronione na wypadek wykradzenia bazy danych z serwera.</p>
        <p>Hasła użytkowników są przechowywane w postaci hashowanej. Funkcja hashująca działa jednokierunkowo - nie jest możliwe odwrócenie jej działania, co stanowi obecnie współczesny standard w zakresie przechowywania haseł użytkowników.</p>
        <p>Operator okresowo zmienia swoje hasła administracyjne.</p>
        <p>W celu ochrony danych Operator regularnie wykonuje kopie bezpieczeństwa.</p>
        <p>Istotnym elementem ochrony danych jest regularna aktualizacja wszelkiego oprogramowania, wykorzystywanego przez Operatora do przetwarzania danych osobowych, co w szczególności oznacza regularne aktualizacje komponentów programistycznych.</p>
        <h2>3. Hosting</h2>
        <p>Serwis jest hostowany (technicznie utrzymywany) na serwerach operatora: OVH</p>
        <p>Firma hostingowa w celu zapewnienia niezawodności technicznej prowadzi logi na poziomie serwera. Zapisowi mogą podlegać:</p>
        <ul>
          <li>zasoby określone identyfikatorem URL (adresy żądanych zasobów – stron, plików),</li>
          <li>czas nadejścia zapytania,</li>
          <li>czas wysłania odpowiedzi,</li>
          <li>nazwę stacji klienta – identyfikacja realizowana przez protokół HTTP,</li>
          <li>informacje o błędach jakie nastąpiły przy realizacji transakcji HTTP,</li>
          <li>adres URL strony poprzednio odwiedzanej przez użytkownika (referer link) – w przypadku gdy przejście do Serwisu nastąpiło przez odnośnik,</li>
          <li>informacje o przeglądarce użytkownika,</li>
          <li>informacje o adresie IP,</li>
          <li>informacje diagnostyczne związane z procesem samodzielnego zamawiania usług poprzez rejestratory na stronie,</li>
          <li>informacje związane z obsługą poczty elektronicznej kierowanej do Operatora oraz wysyłanej przez Operatora.</li>
        </ul>
        <h2>4. Twoje prawa i dodatkowe informacje o sposobie wykorzystania danych</h2>
        <p>W niektórych sytuacjach Administrator ma prawo przekazywać Twoje dane osobowe innym odbiorcom, jeśli będzie to niezbędne do wykonania zawartej z Tobą umowy lub do zrealizowania obowiązków ciążących na Administratorze. Dotyczy to takich grup odbiorców:</p>
        <ul>
          <li>firma hostingowa na zasadzie powierzenia</li>
          <li>kurierzy</li>
          <li>operatorzy pocztowi</li>
          <li>ubezpieczyciele</li>
          <li>banki</li>
          <li>operatorzy płatności</li>
          <li>operatorzy systemu komentarzy</li>
          <li>upoważnieni pracownicy i współpracownicy, którzy korzystają z danych w celu realizacji celu działania strony</li>
          <li>firmy, świadczące usługi marketingu na rzecz Administratora</li>
        </ul>
        <!-- Kontynuacja tekstu... -->
        <!-- W przypadku bardzo długiego tekstu przemyśl podział na sekcje lub przewijalność kontenera -->
      </article>
    </div>
  </div>
</div>
