<div class="relative w-full h-[200px] bg-cover bg-center" style="background-image: url('/assets/images/teemu-paaananen.jpg');">
  <div class="absolute inset-0 bg-black bg-opacity-50"></div>

  <div class="relative flex flex-col items-center justify-center h-full text-center text-textSecondary px-4">
    <h2 class="text-3xl md:text-4xl font-bold mb-4">
      Potrzebujesz pomocy z doborem kostki brukowej?
    </h2>
    <button routerLink="/kontakt"
      class="flex items-center bg-primary hover:bg-cta text-textPrimary font-semibold px-6 py-3 rounded-md transition duration-300"
    >
    <img class="h-6 w-6 mr-2" src="/assets/icons/phone.svg" alt="ikona telefonu">
      <span class="mr-2">Zadzwoń do nas</span>
    </button>
  </div>
</div>
