<div class="w-full h-[70px] overflow-hidden bg-gray-100 relative">
  <div class="flex w-[200%] animate-scroll">
    <!-- Powtarzamy loga 2 razy, aby stworzyć pętlę -->
    <div *ngFor="let i of [0, 1, 2, 3]" class="flex">
      <div *ngFor="let logo of logos" class="inline-block px-8">
        <!-- Klikalne logo -->
        <a [href]="logo.link" target="_blank" rel="noopener noreferrer">
          <img
            loading="lazy"
            [src]="'/assets/images/loga/' + logo.name"
            [alt]="logo.name"
            class="h-[70px] w-auto object-contain transform transition-transform duration-300 hover:scale-110"
          />
        </a>
      </div>
    </div>
  </div>
</div>
