<section>
  <div class="pt-6">
    <div class="flex justify-center mb-12">
      <app-breadcrumb ></app-breadcrumb>
     </div>
  </div>

  <div class="pb-12">
    <app-content-section-short
  [headingHighlight]="'Beton'"
  [heading]="'Architektoniczny'"
  [description]="'Nasz beton architektoniczny to doskonałe rozwiązanie dla tych, którzy cenią nowoczesny design i trwałość. Stosujemy najnowsze technologie, aby zapewnić najwyższą jakość naszych produktów, które są odporne na ekstremalne warunki pogodowe. Wybierając nasz beton architektoniczny, zyskujesz pewność, że Twoje projekty będą nie tylko estetyczne, ale także trwałe i funkcjonalne.'"
  [imageSrc]="'/assets/images/inne/kula.webp'"
  [imageAlt]="'GORMI beton architektoniczny'"
  [imagePosition]="'right'"
  [cols]="3"
  [features]="[
  {
      icon: 'cloud.svg',
      title: 'Odporność na warunki atmosferyczne'
    },
    {
      icon: 'wrench.svg',
      title: 'Szybki montaż i wyjątkowa jakość'
    },
    {
      icon: 'squares.svg',
      title: 'Szeroki wybór wzorów'
    },
  ]"
  >

  ></app-content-section-short>
  <div class="pt-12 md:px-32">
    <app-products-carousel-small [defaultCategory]="'Akcesoria i inne'"></app-products-carousel-small>
  </div>
</div>



<div class="py-12 bg-gray-100">
  <app-content-section-short
[headingHighlight]="'Kamień'"
[heading]="'Dekoracyjny'"
[description]="'Nasz kamień dekoracyjny to idealny wybór dla tych, którzy cenią elegancję, trwałość i wszechstronność. Dzięki zaawansowanej technologii produkcji, nasze produkty są odporne na zmienne warunki atmosferyczne i oferują szeroką gamę wzorów oraz kolorów. Wybierając nasz kamień dekoracyjny, zyskujesz pewność, że Twoje wnętrza i przestrzenie zewnętrzne będą nie tylko piękne, ale również funkcjonalne i długowieczne.'"
[imageSrc]="'/assets/images/inne/otoczka.webp'"
[imageAlt]="'GORMI otoczka'"
[imagePosition]="'left'"
[cols]="3"
[features]="[
{
    icon: 'shield-check.svg',
    title: 'Niezwykle wytryzmały'
  },
  {
    icon: 'sparkles.svg',
    title: 'Estetyczne wykończenie'
  },
  {
    icon: 'wrench.svg',
    title: 'Minimalna konserwacja'
  },
]"
>

></app-content-section-short>
<div class="pt-12 md:px-32">
  <app-products-carousel-small [defaultCategory]="'Akcesoria i inne'"></app-products-carousel-small>
</div>
</div>





<div class="py-12">
  <app-content-section-short
[headingHighlight]="'Ekobord'"
[heading]="''"
[description]="'Nasz ekobord to innowacyjne i ekologiczne rozwiązanie do wytyczania ścieżek, alejek i innych przestrzeni zewnętrznych. Dzięki zaawansowanym materiałom i technologii produkcji, nasze ekobordy są trwałe, łatwe w montażu i przyjazne dla środowiska. Wybierając nasz ekobord, zyskujesz pewność, że Twoja przestrzeń będzie estetyczna, funkcjonalna i ekologiczna.'"
[imageSrc]="'/assets/images/inne/tworzywa.webp'"
[imageAlt]="'GORMI tworzywa'"
[imagePosition]="'right'"
[cols]="3"
[features]="[
{
    icon: 'cloud.svg',
    title: 'Odporność na warunki atmosferyczne'
  },
  {
    icon: 'wrench.svg',
    title: 'Szybki montaż i wyjątkowa jakość'
  },
  {
    icon: 'squares.svg',
    title: 'Szeroki wybór wzorów'
  },
]"
>

></app-content-section-short>
<div class="pt-12 md:px-32">
  <app-products-carousel-small [defaultCategory]="'Akcesoria i inne'"></app-products-carousel-small>
</div>
</div>



<div class="py-12 bg-gray-100">
  <app-content-section-short
[headingHighlight]="'Oświetlenie'"
[heading]="'Ogrodzenia'"
[description]="'Nasze oświetlenie ogrodzenia to idealne połączenie nowoczesnej technologii, funkcjonalności i estetyki. Dzięki wysokiej jakości materiałom i zaawansowanym rozwiązaniom technicznym, nasze produkty zapewniają wyjątkową trwałość i efektywność energetyczną. Wybierając nasze oświetlenie ogrodzenia, zyskujesz pewność, że Twoja przestrzeń będzie nie tylko bezpieczna, ale również pięknie oświetlona i przyjazna dla środowiska.'"
[imageSrc]="'/assets/images/inne/oświetlenie.webp'"
[imageAlt]="'GORMI oświetlenie'"
[imagePosition]="'left'"
[cols]="3"
[features]="[
{
    icon: 'light-bulb.svg',
    title: 'Energooszczędność'
  },
  {
    icon: 'adjustments-horizontal.svg',
    title: 'Automatyczne czujniki'
  },
  {
    icon: 'sparkles.svg',
    title: 'Oświetlenie LED'
  },
]"
>

></app-content-section-short>
<div class="pt-12 md:px-32">
  <app-products-carousel-small [defaultCategory]="'Akcesoria i inne'"></app-products-carousel-small>
</div>
</div>



<div class="py-12">
  <app-content-section-short
[headingHighlight]="'Fugi'"
[heading]="'do Bruku'"
[description]="'Nasze fugi do bruku to niezawodne rozwiązanie dla wszystkich rodzajów nawierzchni brukowych. Dzięki zaawansowanym technologiom produkcji, nasze produkty gwarantują wysoką trwałość, odporność na warunki atmosferyczne oraz łatwość aplikacji. Wybierając nasze fugi, zyskujesz pewność, że Twoja powierzchnia brukowa będzie estetyczna, stabilna i długowieczna.'"
[imageSrc]="'/assets/images/inne/fugi.webp'"
[imageAlt]="'GORMI fugi'"
[imagePosition]="'right'"
[cols]="3"
[features]="[
{
    icon: 'wrench.svg',
    title: 'Łatwość aplikacji'
  },
  {
    icon: 'squares.svg',
    title: 'Stabilność powierzchni'
  },
  {
    icon: 'scissors.svg',
    title: 'Odporność na chwasty'
  },
]"
>

></app-content-section-short>
<div class="pt-12 md:px-32">
  <app-products-carousel-small [defaultCategory]="'Akcesoria i inne'"></app-products-carousel-small>
</div>
</div>




<div class="py-12 bg-gray-100">
  <app-content-section-short
[headingHighlight]="'Domy'"
[heading]="'z Keramzytobetonu'"
[description]="'Nasze domy z keramzytobetonu to idealne rozwiązanie dla tych, którzy cenią nowoczesne technologie budowlane, trwałość i ekologię. Dzięki unikalnym właściwościom keramzytobetonu, nasze domy zapewniają wyjątkową izolację termiczną, akustyczną i są niezwykle trwałe. Wybierając nasze domy z keramzytobetonu, zyskujesz komfort, bezpieczeństwo i niskie koszty eksploatacji.'"
[imageSrc]="'/assets/images/inne/concrete2.webp'"
[imageAlt]="'GORMI domy z kermzytobetonu'"
[imagePosition]="'left'"
[cols]="3"
[features]="[
{
    icon: 'clock.svg',
    title: 'Szybka budowa'
  },
  {
    icon: 'currency-dollar.svg',
    title: 'Niskie koszty eksploatacji'
  },
  {
    icon: 'squares.svg',
    title: 'Elastyczność projektowa'
  },
]"
>

></app-content-section-short>
<div class="pt-12 md:px-32">
  <app-products-carousel-small [defaultCategory]="'Akcesoria i inne'"></app-products-carousel-small>
</div>
</div>



<div class="py-12">
  <app-content-section-short
[headingHighlight]="'Narzędzia'"
[heading]="'Brukarskie'"
[description]="'Nasze narzędzia brukarskie to gwarancja wysokiej jakości, trwałości i funkcjonalności, które są niezbędne do profesjonalnego układania kostki brukowej. Dzięki zaawansowanej technologii produkcji i ergonomicznej konstrukcji, nasze narzędzia zapewniają komfort pracy i efektywność. Wybierając nasze narzędzia brukarskie, zyskujesz pewność, że Twoje projekty będą realizowane szybko, precyzyjnie i bezproblemowo.'"
[imageSrc]="'/assets/images/inne/narzedzia_brukarskie.webp'"
[imageAlt]="'GORMI narzędzia brukarskie'"
[imagePosition]="'right'"
[cols]="3"
[features]="[
{
    icon: 'shield-check.svg',
    title: 'Wysoka trwałość'
  },
  {
    icon: 'sparkles.svg',
    title: 'Profesjonalne rezultaty'
  },
  {
    icon: 'lock-closed.svg',
    title: 'Bezpieczeństwo pracy'
  },
]"
>

></app-content-section-short>
<div class="pt-12 md:px-32">
  <app-products-carousel-small [defaultCategory]="'Akcesoria i inne'"></app-products-carousel-small>
</div>
</div>




<div class="py-12 bg-gray-100">
  <app-content-section-short
[headingHighlight]="'Wsporniki'"
[heading]="''"
[description]="'Nasze wsporniki to idealne rozwiązanie dla stabilnego i bezpiecznego montażu różnorodnych konstrukcji. Dzięki zaawansowanej technologii produkcji i użyciu najwyższej jakości materiałów, nasze wsporniki są trwałe, łatwe w instalacji i wyjątkowo wszechstronne. Wybierając nasze wsporniki, zyskujesz pewność, że Twoje konstrukcje będą nie tylko funkcjonalne, ale również estetyczne i długowieczne.'"
[imageSrc]="'/assets/images/inne/wsporniki.webp'"
[imageAlt]="'GORMI wsporniki'"
[imagePosition]="'left'"
[cols]="3"
[features]="[
{
    icon: 'lock-closed.svg',
    title: 'Bezpieczeństwo użytkowania'
  },
  {
    icon: 'shield-check.svg',
    title: 'Wysoka wytrzymałość'
  },
  {
    icon: 'exclamation.svg',
    title: 'Odporność na korozję'
  },
]"
>

></app-content-section-short>
<div class="pt-12 md:px-32">
  <app-products-carousel-small [defaultCategory]="'Akcesoria i inne'"></app-products-carousel-small>
</div>
</div>



</section>
