<div class="grid grid-cols-2 md:grid-cols-3 gap-4">
  <!-- Kolumna 1 -->
  <div class="grid gap-4">
    <div class="relative group overflow-hidden rounded-lg md:cursor-pointer" routerLink="/kostka-brukowa">
      <img class="w-full object-cover h-[200px] sm:h-[300px] md:h-[600px] transition-transform duration-300 md:group-hover:scale-105 md:cursor-pointer" src="/assets/images/kostka-brukowa/Płyta-tarasowa-Gresowa.webp" alt="">
      <div class="absolute inset-0 bg-black/30 flex items-center justify-center text-white text-xl sm:text-2xl md:text-3xl md:group-hover:text-4xl font-bold text-center px-2 md:group-hover:bg-black/50 transition-all duration-300">
        Kostka brukowa i płyty tarasowe
      </div>
    </div>
    <div class="relative group overflow-hidden rounded-lg md:cursor-pointer" routerLink="/ogrodzenia">
      <img class="w-full object-cover h-[200px] sm:h-[300px] md:h-[400px] transition-transform duration-300 md:group-hover:scale-105 md:cursor-pointer" src="/assets/images/ogrodzenia/ogrodzenia1.webp" alt="">
      <div class="absolute inset-0 bg-black/30 flex items-center justify-center text-white text-xl sm:text-2xl md:text-3xl md:group-hover:text-4xl font-bold text-center px-2 md:group-hover:bg-black/50 transition-all duration-300">
        Ogrodzenia
      </div>
    </div>
  </div>
  <!-- Kolumna 2 -->
  <div class="grid gap-4">
    <div class="relative group overflow-hidden rounded-lg md:cursor-pointer" routerLink="/pergole-aluminiowe-i-bioklimatyczne">
      <img class="w-full object-cover h-[200px] sm:h-[300px] md:h-[400px] transition-transform duration-300 md:group-hover:scale-105 md:cursor-pointer" src="/assets/images/galerie/pergole-aluminiowe/zdj3.webp" alt="">
      <div class="absolute inset-0 bg-black/30 flex items-center justify-center text-white text-xl sm:text-2xl md:text-3xl md:group-hover:text-4xl font-bold text-center px-2 md:group-hover:bg-black/50 transition-all duration-300">
        Pergole aluminiowe i bioklimatyczne
      </div>
    </div>
    <div class="relative group overflow-hidden rounded-lg md:cursor-pointer" routerLink="/akcesoria-i-inne">
      <img class="w-full object-cover h-[200px] sm:h-[300px] md:h-[600px] transition-transform duration-300 md:group-hover:scale-105 md:cursor-pointer" src="/assets/images/inne/wsporniki.webp" alt="">
      <div class="absolute inset-0 bg-black/30 flex items-center justify-center text-white text-xl sm:text-2xl md:text-3xl md:group-hover:text-4xl font-bold text-center px-2 md:group-hover:bg-black/50 transition-all duration-300">
        Akcesoria i inne
      </div>
    </div>
  </div>
  <!-- Kolumna 3 -->
  <div class="grid gap-4">
    <div class="relative group overflow-hidden rounded-lg md:cursor-pointer" routerLink="/sklep">
      <img class="w-full object-cover h-[200px] sm:h-[300px] md:h-[600px] transition-transform duration-300 md:group-hover:scale-105 md:cursor-pointer" src="/assets/images/galerie/ogrod-libertow/3.webp" alt="">
      <div class="absolute inset-0 bg-black/30 flex items-center justify-center text-white text-xl sm:text-2xl md:text-3xl md:group-hover:text-4xl font-bold text-center px-2 md:group-hover:bg-black/50 transition-all duration-300">
        Sklep online
      </div>
    </div>
    <div class="relative group overflow-hidden rounded-lg md:cursor-pointer" routerLink="/kontakt">
      <img class="w-full object-cover h-[200px] sm:h-[300px] md:h-[400px] transition-transform duration-300 md:group-hover:scale-105 md:cursor-pointer" src="/assets/images/galerie/ogrod-libertow/5.webp" alt="">
      <div class="absolute inset-0 bg-black/30 flex items-center justify-center text-white text-xl sm:text-2xl md:text-3xl md:group-hover:text-4xl font-bold text-center px-2 md:group-hover:bg-black/50 transition-all duration-300">
        Kontakt
      </div>
    </div>
  </div>
</div>
